# zu ignorierende Ordner
########################
Literatur/
0-OrganisatorischesVorab/

# LaTeX Ordner bis auf Tex-Files
/LaTeX/*
!/LaTeX/*.tex

# Excel Sheets
########################
*.xlsx

# Further Files
*.org
*.org*